.avatar {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
.friends {
  display: flex;
  justify-content: space-between;
}

.friend {
  padding: 5px;
}

.friend:hover {
  opacity: 0.7;
  cursor: pointer;
}