.nav {
    grid-area: n;
    background-color: #f9c1c2;
}

.item {
    padding: 0.5em;
}

.item:hover {
    background-color: #f1dfc6;
    cursor: pointer;
}
.item:hover a {
    color: black;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}