.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs NavLink{
    display: block;
}

.dialogsItems {
    padding: 10px;
    color: white;
}
.dialog.active {
    color: gold;
}
.messages {
    padding: 10px;
}

.messages .message {
 color: white;
}

.newMessage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newMessage textarea {
    flex: 1;
}