.item {
  color: black;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #f1dfc6;
}
.item img {
  height: 50px;
  width: 50px;
  border-radius: 30%;
}

.post {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: space-between;
}
